@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Tin Học Kinh Tế</p>
@using (Html.BeginForm())
{
    <label>Mã sinh viên</label>
    <input type="text" name="Masinhvien" />
    <label>Họ Tên Sinh Viên</label>
    <input type="text" name="HoTensinhvien" />
    <input type="submit" value="Gửi dữ liệu đi" />
}


